/* Cabeçalho */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    background-color: #FCFFD7;
    height: 3rem;

    box-shadow: 0px 1px 2cdpx gray;
}

.cabecalho-logo {
    display: flex;
    flex-direction: row;
    gap: 15px;

    align-items: center;
}

.cabecalho-menu {
    display: flex;
    flex-direction: row;

    align-items: center;
}

.icones-cabecalho_menu {
    height: 34px;
    width: 40px;

    color: #515151;
}

.cabecalho-pesquisa {
    margin-right: 23px;

    display: flex;
    align-items: center;
    gap: 10px;
}

.icone-cabecalho_pesquisa {
    height: 26px;
    width: 24px;

    color: #323232;
}

.botao-pesquisa {
    width: 370px;
    height: 22px;

    padding-left: 30px;

    background-color: #FCFCF5;
    border: solid 2px #323232;
    border-radius: 30px;
}

.botao-menu {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #515151;
    font-size: 16px;

    margin: 0 10px 0 1px;
}

.logo-menu {
    margin-left: 15px;

    height: 48px;
    width: 35px;
}

.botao-enviar {
    position: absolute;
    margin-top: 6px;
    margin-left: 8px;
    
    border: none;
    background: transparent;
}


/* Rodapé */

.rodape {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}