.menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 30%;
    width: 8%;
    height: 100vh;
    background-color: #FCFFD7;
    border-right: 1px solid #989898;
}

.icones-principais {
    display: flex;
    flex-direction: column;

    gap: 30px;

    margin-top: 20%;
}

.icones-menu {
    display: inline-block;
    font-size: 25px;

    padding: 7px;
    background-color: #FFCEF9;
    color: #EC55D9;
    border-radius: 30px;
}

.icone-engrenagem {
    display: flex;
    font-size: 25px;

    padding: 7px;
    background-color: #FFCEF9;
    color: #EC55D9;
    border-radius: 30px;
    margin-bottom: 50%;
}

.card-estatisticas {
    background-color: #FF84F0;
}