.conteudo-principal {
    display: flex;
    flex-wrap: wrap;

    width: calc(100% - 107px);
    margin-left: 107px;
    margin-top: 2rem;
}

.main {
    width: 100%;
    padding: 0 40px;
}

/* Input ícone */

ion-icon {
    font-size: 20px;
}

.botao-icone {
    position: absolute;
    background-color: #FF84F0;
    border: none;
    border-radius: 10px 0 0 10px;

    padding: 0px 6px;
    height: 26px;
}

.botao-icone {
    color: #FFF;
    background-color: #FF84F0;
}

/* Conjunto texto-campo */

.input-marca {
    display: flex;
    flex-direction: column;
}

.label-texto {
    margin: 0 0 10px 10px;

    font-size: 15px;
    font-family: 'Inter';
    font-weight: 700;
    color: #323232;
}

.input-campo {
    width: 100%;
    height: 23px;

    border: solid 1px #FF84F0;
    border-radius: 10px;
}

/* Input conjunto cor */

.input-caixa_cor {
    background: #FFEEFD;

    border-radius: 20px;
    border: solid 1px #FF84F0;

    height: 70vh;

    margin-top: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;  
}

/* Botao de arquivo redondo */

.input-arquivo_botao {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40%;
}

.input-icone_botao {
    font-size: 75px;
}

.botao-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;

    color: #EC55D9;

    background-color: #FFCEF9;
    border: solid 2px #EC55D9;
    border-radius: 1000px;

    width: 25rem;
    height: 25rem;
}

.botao-banner input[type="file"] {
    cursor: pointer;
    opacity: 0;

    position: absolute;

    width: 100%;
    height: 100%;

    border-radius: 1000px;
}





/* Conjunto seleciona a cor */

.conjunto-seleciona_cor {
    width: 40%;
}