.icone-selecionado {
    background-color: #EC55D9;
    color: #FFFFFF;
}

main {
    display: flex;
    flex-wrap: wrap;

    width: calc(100% - 107px);
    margin-left: 107px;
    margin-top: 2rem;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    gap: 50px;

    width: 100%;
    padding: 0 40px;
}

/* Card Detalhes */

.card-detalhes {
    width: 100%;
    background-color: #F3F3F3;

    display: flex;
    flex-direction: column;

    padding: 2rem 2rem;
    gap: 2rem;

    border-radius: 15PX;
}

.detalhes-principais {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.secoes-detalhes-principais {
    width: 20%;

    display: flex;
    flex-direction: column;

    gap: 20%;

    text-align: center;
}

.secoes-detalhes-checkbox {
    width: 20%;

    display: flex;
    flex-direction: column;

    gap: 20%;

    text-align: center;
}

/* Checkbox Concluído */

.secoes-detalhes-principais input[type="checkbox"] {
    display: inline-block;
}

/* Texto Card */

.titulo-label {
    color: #323232;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 700;
}

.label-detalhes {
    color: #FF84F0;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 700;
}

.texto-detalhes {
    color: #323232;
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 400;

    margin: 0;
}

/* Checkbox */

.tabela-principal_checkbox {
    border: solid 1px #FF84F0;

    text-align: center;
}

.tabela-checkbox_titulo input[type="checkbox"] {
    display: none;
}

.tabela-checkbox_titulo input+label:before {
    content: '';
    width: 1rem;
    height: 1rem;

    background-color: #FFFFFF;

    border-radius: 5px;
    border: solid 2px #FF84F0;

    display: inline-block;
    vertical-align: middle;
}

.secoes-detalhes-principais input:checked+label:before {
    background-image: url('../../src-icons/checked.svg');
    background-color: #FF84F0;
}

/* Detalhes Extras */

.detalhes-extras {
    display: flex;
    flex-direction: column;
}

.detalhes-produto {
    width: 100%;
}

/* Detalhes Produto */

.detalhes-produto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;

    margin: 0 0 2rem 0;
    padding: 2rem 0 0 0;

    border-top: solid 1px #C9C9C9;
}

.produtos-comprados {
    display: flex;
    flex-direction: column;
    gap: 10%;
}

.div-compras {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.valor-produtos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.div-valor {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    gap: 10%;
    height: 80%
}

.div-total {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
    height: 20%
}

/* Detalhes Endereço */

.detalhes-endereco {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 2rem 0 0 0;

    border-top: solid 1px #C9C9C9;
}

.div-frete {
    display: flex;
    flex-direction: row;
    gap: 5%;
}