.marcas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 29px;

  width: 100%;
  margin-top: 2rem;
  padding: 0 40px;
}

.marca-circulo {
  display: flex;
  align-items: center;

  border-radius: 1000px;
  width: 100px;
  height: 100px;
  background: #A5FF7B;
  overflow: hidden;
}

.marca-imagem {
  width: 110%;
  height: auto;
  transform: translate(-5px, 5px);
}