@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

main {
    width: 100%;

    display: flex;
    justify-content: center;

    margin: 2rem 0;
}

/* Texto Principal */

.conteudo-principal {
    width: 60%;
}

.div-titulo {
    width: 100%;

    display: flex;
    justify-content: center;
}

.titulo-pagina {
    color: #323232;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 700;
}

.texto {
    color: #323232;
    font-family: 'Inter';
    font-size: 14px;

    list-style: circle ;

    margin: 1rem 0; 
}

.subtitulo-pagina {
    color: #323232;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 700;
}