.card-detalhes {
  width: 100%;
  background-color: #F3F3F3;

  display: flex;
  flex-direction: column;

  padding: 2rem 2rem 1rem 2rem;
  border-radius: 15PX;
  margin-bottom: 2rem;
}

.detalhes-principais {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.secoes-detalhes-principais {
  width: 20%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.secoes-detalhes-checkbox {
  width: 20%;

  display: flex;
  flex-direction: column;

  gap: 20%;

  text-align: center;
}

.detalhes {
  justify-content: center;
}

/* Checkbox Concluído */

.secoes-detalhes-principais input[type="checkbox"] {
  display: inline-block;
}

/* Texto Card */

.titulo-label {
  color: #323232;
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 700;
}

.label-detalhes {
  color: #FF84F0;
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 700;
}

.texto-detalhes {
  color: #323232;
  font-family: 'Inter';
  font-size: 14px;
  font-weight: 400;

  margin: 0;
}

.secoes-detalhes-principais input:checked+label:before {
  background-image: url('../../src-icons/checked.svg');
  background-color: #FF84F0;
}

/* Detalhes Extras */

.detalhes-extras {
  display: flex;
  flex-direction: column;
}

.detalhes-produto {
  width: 100%;
}

/* Detalhes Produto */

.detalhes-produto {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 0 0 2rem 0;
  padding: 2rem 0 0 0;

  border-top: solid 1px #C9C9C9;
}

.produtos-comprados {
  display: flex;
  flex-direction: column;
  gap: 10%;
  width: 100%;
}

.div-compras {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.valor-produtos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.div-valor {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  gap: 10%;
  height: 80%
}

.div-total {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .1rem;
  align-self: end;
}

/* Detalhes Endereço */

.detalhes-endereco {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 2rem 0 1rem 0;

  border-top: solid 1px #C9C9C9;
}

.div-frete {
  display: flex;
  flex-direction: row;
  gap: 5%;
}