.cep-container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: fit-content;

  border: 1px solid #A3B3CC;
  border-radius: 1rem;
  padding: .5rem;
}

.botao-3d {
  z-index: 2;
  right: 0.5rem;
  bottom: 0.5rem;
  position: absolute;
}


main {
  width: 100%;

  display: flex;
  justify-content: center;

  margin: 2rem 0;
}

/* Conteúdo Principal */

.produto-conteudo {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.produto-imagens {
  width: 35%;
}

.produto-dados {
  width: 65%;
  padding-left: 3rem;
}

/* Texto Tag */

.div-tag {
  width: 100%;

  display: flex;
  justify-content: flex-start;
}

.texto-tag {
  color: #323232;
  font-size: 18px;
  font-weight: 500;
}

/* Produto */

.div-tituloProduto {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 0 0.5rem;
  line-height: 25px;
}

.titulo-produto {
  color: #323232;
  font-size: 1.6rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

label {
  font-size: 20px;
}

.conjunto-estatisticas {
  width: 100%;

  display: flex;
  flex-direction: row;
}

.texto-estatisticas {
  color: #323232;
  font-weight: 500;
  font-size: 15px;
}

.conjunto-precos {
  border: 1px solid #A3B3CC;
  border-radius: 1.5rem;
  padding: 1.5rem;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.precos {
  display: flex;
  flex-direction: column;

  gap: 0;
}

.preco-original {
  line-height: .9rem;
  text-decoration: line-through;
  color: #323232;
  font-size: .9rem;
  font-weight: 400;
}

.preco-promocional {
  line-height: 2rem;

  color: #323232;
  font-size: 2rem;
  font-weight: 700;
}

.texto-parcela {
  color: #323232;
  font-weight: 500;
}

.conjunto-input-frete {
  display: flex;
  flex-direction: column;
}

.flex-esquerda {
  display: flex;
  justify-content: flex-start;
}

.margem-direita {
  margin-right: 1rem;
}

.quantidade {
  width: 3rem;
  text-align: center;
  border-left: 1px solid #A3B3CC;
  border-right: 1px solid #A3B3CC;

}

.quantidade-container {
  border: 1px solid #A3B3CC;
  border-radius: 1rem;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modificar-quantidade {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.5rem 0 0.5rem;
}

.separador-estatisticas {
  margin: 0 .5rem;
}

.titulo-descricao {
  font-size: 1.2rem;
}

.quadrado-imagem {
  aspect-ratio: 1/1;
  object-fit: cover;
}

.carousel-indicators {
  position: relative;
  margin-left: 0;
}

.carousel-indicators [data-mdb-target] {
  height: fit-content;
}

.container-compra button {
  font-size: 1.5rem;
}

.container-compra ion-icon {
  font-size: 1.5rem;
}

.popup-3d-view {
  position: relative;
  background-color: #fff;
  width: 45rem;
  aspect-ratio: 1/1;
  border-radius: 30px;
  margin: 60px;
}

.fechar-modal-3d {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}