.conteudo-principal {
  gap: 10%;
  width: 100%;
}

.main {
  margin: 2.25rem;
}

.botao-pesquisa_produtos {
  font-size: 15px;

  border: solid 2px #EC55D9;
  border-radius: 15px;

  padding-left: 25px;

  outline: none;

  background: url('http://localhost/tcc/tcc-cherry-blossom/assets/icones/lupaRosa.svg');
  background-position: 0.5em;
  background-size: 16px;
  background-repeat: no-repeat;
}

/* Checkbox Cabeçalho conteúdo*/

.tabela-checkbox_conteudo input {
  display: none;
}

.tabela-checkbox_conteudo input+label:before {
  content: '';
  width: 1rem;
  height: 1rem;

  background-color: #FFFFFF;

  border-radius: 5px;
  border: solid 2px #FF84F0;

  display: inline-block;
  vertical-align: middle;
}

.tabela-checkbox_conteudo input:checked+label:before {
  background-image: url('http://localhost/tcc/tcc-cherry-blossom/assets/icones/checked.svg');
  background-color: #FF84F0;
}

.setas {
  color: #FFFFFF;
  border-radius: 12px;
}

.botoes-setas {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.botao-opcoes {
  display: flex;
  flex-direction: row;
  gap: 14px;
}

.input-container {
  display: flex;
  width: 100%;
}

.botao-input {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FF84F0;
  border: none;
  border-radius: 13px 0 0 13px;
}

.icone-input {
  color: #FFF;
  background-color: #FF84F0;
}

.input-conjunto {
  border-radius: 0 13px 13px 0;
  border: solid 2px #FF84F0;

  width: 100%;

  outline: none;
}

.conjunto-imagens {
  width: 100%;
}

.input-texto {
  margin: 0 0 0 10px;
  color: #323232;
  font-family: 'Inter';
  font-weight: bold;
  font-size: 14px;
}

.sem-borda-esquerda {
  border-top: solid 2px #FF84F0;
  border-bottom: solid 2px #FF84F0;
  border-left: solid 2px #FF84F0;
  border-right: 0;
}

.icon-input-final {
  border-radius: 0 13px 13px 0;
  border-top: solid 2px #FF84F0;
  border-bottom: solid 2px #FF84F0;
  border-right: solid 2px #FF84F0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 0.5rem;
}

.min-width-botao {
  min-width: 6rem;
}

.icone-label {
  color: white;
  font-weight: 700;
  font-size: 1rem;
  padding-left: 0.5rem;
}