body {
    background-image: url('http://localhost/tcc-cherry-blossom/assets/imagens/background/papel1.jpg');
    background-repeat: repeat-y;
    background-size: cover;
    background-size: 100%;
}

main {
    display: flex;
    justify-content: center;
}

.conteiner {
    padding: 0% 3% 0.5% 3%;
    width: 55rem;
    background: #FCFFD7;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    /* margin: 5% 25% 10% 25%; */
    border-radius: 20px;
    box-shadow: 4px 4px 10px -1px rgba(0, 0, 0, 0.32)
}

.conteiner-titulo {
    width: 256px;
    border-bottom: 2px solid #323232;
}

.conteiner-titulo p {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: 20px 0 10px 0;
    color: #323232;
}

.config-tamanho {
    width: 642px;
    height: 52px;
    border: solid 1px #FF97F2;
    border-radius: 20px;
    padding-left: 70px;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    outline: none;
}

.nome::first-letter {
    text-transform: uppercase;
}

.input-text {
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 14px;
    font-family: 'Inter', sans-serif;
    color: #323232;
}

.input-corpo {
    position: relative;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.icon-config {
    color: #FFFFFF;
    width: 40px;
    height: 40px;
}

.icon-eyes {
    font-size: 30px;
    cursor: pointer;
}


.input-button {
    width: 62px;
    height: 54px;
    border-radius: 18px 0px 0px 18px;
    border: none;
    background-color: #FF97F2;
    position: absolute;
    top: 1px;
    left: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-eyes {
    top: 20%;
    border: none;
    background: transparent;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

.div-checkbox {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 2px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    padding: 0 .505rem;
    margin: 0;
    color: #515151;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%23515151" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
}

.checkbox input[type="checkbox"] {
    cursor: pointer;
    width: 30px;
    height: 30px;
    appearance: none;
    -webkit-appearance: none;
    border: 1px solid #FF97F2;
    border-radius: 10px;
    background-color: #FFFFFF;

}

.checkbox input[type="checkbox"]:checked:after {
    display: block;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    content: "x";
    display: flex;
    align-items: center;
    justify-content: center;

}


.checkbox a {
    color: #1467FF;
    font-weight: 400;
}

.form-end {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.form-end-submit input {
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    width: 200px;
    height: 44px;
    background-color: #FF97F2;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.40S;

}

.form-end-submit input:hover {
    background-color: #EC55D9;
    cursor: pointer;
}

.form-end-text p {
    font-size: 20px;
    font-weight: 400;
}

.form-end-text a {
    color: #1467FF;
    font-weight: 400;
}