body {
    background-image: url('http://localhost/Tcc-cherry-blossom-master/assets/imagens/background/papel1.jpg');
    background-repeat: repeat-y;
    background-size: cover;
    background-size: 100%;
}

main {
    margin: 0 0 8% 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteiner {
    padding: 0% 3% 0.5% 3%;
    width: 837px;
    background: #FCFFD7;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin: 15% 25% 10% 25%;
    border-radius: 20px;
    box-shadow: 4px 4px 10px -1px rgba(0, 0, 0, 0.32)
}

.conteiner-titulo {
    width: 256px;
    border-bottom: 2px solid #323232;
}

.conteiner-titulo p {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0 10px 0;
    color: #323232;
}

.config-tamanho {
    width: 642px;
    height: 52px;
    border: solid 1px #FF97F2;
    border-radius: 20px;
    padding-left: 70px;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    outline: none;
}

.input-text {
    font-size: 24px;
    font-weight: 700;
    margin-left: 14px;
    font-family: 'Inter', sans-serif;
    color: #323232;
}

.input-corpo {
    position: relative;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.icon-config {
    color: #FFFFFF;
    width: 40px;
    height: 40px;
}

/* .carta{
    margin:2.5px 0.5px 0 0;
} */

.input-button {
    width: 62px;
    height: 54px;
    border-radius: 18px 0px 0px 18px;
    border: none;
    background-color: #FF97F2;
    position: absolute;
    top: 1px;
    left: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-end {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

.form-end-submit input {
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    width: 200px;
    height: 44px;
    background-color: #FF97F2;
    border: none;
    border-radius: 20px;
    cursor: pointer;

}

.form-end-submit input:hover {
    background-color: #EC55D9;
    cursor: pointer;
}

.form-end-text p {
    font-size: 20px;
    font-weight: 400;
}

.form-end-text a {
    color: #2271FD;
}