.menu-lateral {
  position: fixed;
  top: calc(0px + 3rem);
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 20%;
  width: 8%;
  height: calc(100vh - 3rem);
  background-color: #FCFFD7;
  border-right: 1px solid #989898;
}

.menu-lateral ion-icon {
  color: #EC55D9;
}

.icones-principais {
  display: flex;
  flex-direction: column;

  gap: 30px;

  margin-top: 20%;
}

.icones-menu {
  display: inline-block;
  font-size: 25px;

  padding: 7px;
  background-color: #FFCEF9;
  border-radius: 30px;
}

.icone-engrenagem {
  display: flex;
  font-size: 25px;

  padding: 7px;
  background-color: #FFCEF9;
  color: #EC55D9;
  border-radius: 30px;
  margin-bottom: 50%;
}

.icones-menu {
  transition: 0.4s;
}

.icones-menu:hover {
  background-color: #EC55D9;
  color: white;
}

.icone-engrenagem {
  transition: 0.4s;
}

.icone-engrenagem:hover {
  background-color: #EC55D9;
  color: white;
}

.selecionado {
  background: #EC55D9;
  color: white !important;
}