.cep-container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: fit-content;

  border: 1px solid #A3B3CC;
  border-radius: 1rem;
  padding: .5rem;
}


main {
  width: 100%;

  display: flex;
  justify-content: center;

  margin: 2rem 0;
}

/* Conteúdo Principal */

.conteudo-principal {
  width: 60%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 1rem;
}

.produto-conteudo {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.produto-imagens {
  width: 35%;
}

.produto-dados {
  width: 65%;
  padding-left: 3rem;
}

/* Texto Tag */

.div-tag {
  width: 100%;

  display: flex;
  justify-content: flex-start;
}

.texto-tag {
  color: #323232;
  font-size: 18px;
  font-weight: 500;
}

/* Produto */

.div-tituloProduto {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 0 0.5rem;
  line-height: 25px;
}

.titulo-produto {
  color: #323232;
  font-size: 1.55rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

label {
  font-size: 20px;
}

.conjunto-estatisticas {
  width: 100%;

  display: flex;
  flex-direction: row;
}

.texto-estatisticas {
  color: #323232;
  font-weight: 500;
  font-size: 15px;
}

.conjunto-precos {
  border: 1px solid #A3B3CC;
  border-radius: 1rem;
  padding: 1rem;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.precos {
  display: flex;
  flex-direction: column;

  gap: 0;
}

.preco-original {
  line-height: 1px;
  text-decoration: line-through;
  color: #323232;
  font-size: 12px;
  font-weight: 400;
}

.preco-promocional {
  line-height: 1px;

  color: #323232;
  font-size: 20px;
  font-weight: 700;
}

.texto-parcela {
  color: #323232;
  font-weight: 500;
}

.conjunto-input-frete {
  display: flex;
  flex-direction: column;
}

.flex-esquerda {
  display: flex;
  justify-content: flex-start;
}

.margem-direita {
  margin-right: 1rem;
}

.quantidade {
  width: 3rem;
  text-align: center;
  border-left: 1px solid #A3B3CC;
  border-right: 1px solid #A3B3CC;

}

.quantidade-container {
  border: 1px solid #A3B3CC;
  border-radius: 1rem;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modificar-quantidade {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.5rem 0 0.5rem;
}

.carousel.carousel-thumbs-top {
  padding-top: 60px;
}

.carousel.carousel-thumbs-top .carousel-indicators {
  position: relative;
  top: 0;
  bottom: auto;
}

.carousel .carousel-indicators button {}

.carousel-item img,
.d-block {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.carousel-indicators {
  position: relative;
}

.carousel-thumbs {
  display: flex;
}

.carousel-thumbs button {
  all: unset;
  margin: .3rem;
}

.separador-estatisticas {
  margin: 0 .5rem;
}

.titulo-descricao {
  font-size: 1.2rem;
}